@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3 class="text-center" style="color:chocolate">Login Page</h3>

<div style="margin : auto; width: 40%; border : 3px solid orange; padding :10px;" class="login-page">

    <form method="post">

        <div class="form-group">

            <label asp-for="@Model.credentials.Username" class="form-label">UserName</label>
            <input asp-for="@Model.credentials.Username" type="email" class="form-control" />
            <span asp-validation-for="@Model.credentials.Username" class="text text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="@Model.credentials.Password" class="form-label">Password</label>
            <input asp-for="@Model.credentials.Password" type="password" class="form-control" />
            <span asp-validation-for="@Model.credentials.Password" class="text text-danger"></span>

        </div>
        <br />
        <button class="offset-5 btn btn-primary">Login</button>

    </form>

</div>



